@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");

body {
  font-family: var(--font-family);
  background-color: var(--bg-light);
  color: var(--text-dark);
  margin: 0;
  padding: 0;
}

.home-container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.page-title {
  font-size: 1.875rem;
  font-weight: 800;
  text-align: center;
  color: var(--primary-color);
  margin-top: 1rem;
  padding: 0.5rem 0;
}

.page-heading-container {
  text-align: center;
  max-width: 576px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.page-heading-paragraph {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #4b5563;
}
